<div class="container">
	<h1 ng-controller="getUser">Hello {{user.name}}</h1>
	<div class="row" ng-controller="getItems">
		<div class="span4">
			<table>
				<tr>
					<td>name</td>
					<td>sum</td>
				</tr>
				<tr ng-repeat="item in items" >
					<td>{{item.name}}</td>
					<td>{{item.sum}}</td>
					<td><button ng-click="getsand('{{item.name}}')">{{item.name}}</button></td>
				</tr>
			</table>
		</div>
		<div class="span6">
			<table>
				<tr>
					<td>name</td>
					<td>time(hour)</td>
					<td>datatime</td>
					<td>comments</td>
				</tr>
				<tr ng-repeat="sand in sands" >
					<td>{{sand.name}}</td>
					<td>{{sand.time}}</td>
					<td>{{sand.datetime}}</td>
					<td>{{sand.comments}}</td>
				</tr>
			</table>
		</div>
	</div>	
</div>