<div class="container">
	<h1 ng-controller="getUser">Hello {{user.name}}</h1>
	<div class="row" ng-controller="getItems">
		<div class="span4">
			<table class="table table-striped">
				<th>
					<tr>
						<td>name</td>
						<td>sum</td>
						<td><button class="btn btn-success" ng-click="">增加</button></td>
					</tr>
				</th>
				<tr ng-repeat="item in items" >
					<td class="span2">{{item.name}}</td>
					<td class="span2">{{item.sum}}</td>
					<td class="span3">
						<div class="btn-group">
						  	<button class="btn">Options</button>
						  	<button class="btn dropdown-toggle" data-toggle="dropdown">
						    <span class="caret"></span>
						  	</button>
						  	<ul class="dropdown-menu">
						    	<li><a tabindex="-1" ng-click="getsand('{{item.name}}')">View details</a></li>
						    	<li class="divider"></li>
						    	<li><a tabindex="-1" href="">Modify item</a></li>
						  	</ul>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="span6">
			<table class="table table-bordered table-striped table-condensed">
				<th>
					<tr><td>name</td><td>time(hour)</td><td>datatime</td><td>comments</td></tr>
				</th>
				<tr ng-repeat="sand in sands" >
					<td class="span1">{{sand.name}}</td>
					<td class="span1">{{sand.time}}</td>
					<td class="span2">{{sand.datetime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
					<td style="text-align: left;">{{sand.comments}}</td>
				</tr>
			</table>
		</div>
	</div>	
</div>