<div class="container">
	<div class="row" ng-controller="Tasks">	
		<div class="col-md-10 col-md-offset-1">
			<div class="panel-group" id="accordion">
			  	<div class="panel panel-{{task.state}}" ng-repeat="task in tasks">
			    	<div class="panel-heading">
			      		<h4 class="panel-title">
			        		<a data-toggle="collapse" data-parent="#accordion" data-target="#{{task.id}}">{{task.description}}</a>
			        		<span class="caret"></span>
			      		</h4>
			    	</div>
			    	<div id="{{task.id}}" class="panel-collapse collapse">
			      		<div class="panel-body">
			        		{{task.description}}
			      		</div>
			    	</div>
			  	</div>
			</div>  	
		</div>
		
		<div class="col-md-1">
			<button class="btn btn-success" data-toggle="modal" data-target="#newTask">New Task</button>
		</div>		
		<div class="modal fade" id="newTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  	<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      		</div>
		      		<div class="modal-body container">
		        		<div class="row">
		        			<div class="col-md-8 col-md-offset-2">
		        				<div class="form-group">
		        					<input class="form-control" ng-model="description" placeholder="Type your description of new task"></input>
		        				</div>
		        			</div>
		        		</div>
		        		<div class="row">
		        			<label for="" class="control-label col-md-3 col-md-offset-2">belong to:</label>
		        			<div class="form-group col-md-5">
		        				<select class="form-control" ng-model="Item">
		        					<option ng-repeat="item in items" value="{{item.iditems}}">{{item.name}}</option>
		        				</select>
		        			</div>
		        		</div>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        		<button type="button" class="btn btn-primary" ng-click="addTask();">Save changes</button>
		      		</div>
		    	</div><!-- /.modal-content -->
		  	</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
</div>